@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background: #fafafa;
  --background-color-checkbox: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background: #000000;
    --background-color-checkbox: #25273d;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background);
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--background-color-checkbox);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #e3e4f1;
  border-radius: 50%;

  display: grid;
  place-content: center;
}

input[type='checkbox']::before {
  content: '';
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-image: url('/checked.svg');
  background-position: center;
  background-repeat: no-repeat;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}
